<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594128332212-0kikhjls2mgjak6vmm998t08u3dh0spj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594128332212-0kikhjls2mgjak6vmm998t08u3dh0spj</string>
	<key>API_KEY</key>
	<string>AIzaSyCSICl7J_QuMon-Da3VXYFLmjQ7-b_LkM0</string>
	<key>GCM_SENDER_ID</key>
	<string>594128332212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>trquthdev.Hacktoberfest2020</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-dev-20058</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-dev-20058.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594128332212:ios:e2e2faacec8811b27dfee1</string>
</dict>
</plist>