<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861170826282-vde9vhfn2k2tn45m2da82533fgh7a1a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861170826282-vde9vhfn2k2tn45m2da82533fgh7a1a1</string>
	<key>API_KEY</key>
	<string>AIzaSyCqDGty3PE1I2EISbOhl0pe2Y4O8tZVB-I</string>
	<key>GCM_SENDER_ID</key>
	<string>861170826282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>trquthdev.Hacktoberfest2020.rndm</string>
	<key>PROJECT_ID</key>
	<string>rndm-fcb43</string>
	<key>STORAGE_BUCKET</key>
	<string>rndm-fcb43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861170826282:ios:fb9243ab675a112bd25753</string>
</dict>
</plist>